<%- include("partials/header") %>
<body>
    <h1>Orders</h1>
    <ul>
    <% orders.forEach( el => { %>
            <li class='order' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.order %></span>
                
                <span> Order taken by: <%= el.takenBy %></span>

                <form action="/orders/deleteOrder/<%= el._id %>?_method=DELETE" method="POST" class="">
                    <button class="del" type="submit">Delete</button>
                </form>

            </li>
    <% }) %>    
    </ul>

    <% if (left === 1) { %>
        <h2><%= left %> order left to make.</h2>
    <% } else { %>
        <h2><%= left %> orders left to make.</h2>
    <% } %>

    <form action="/orders/createOrder" method='POST'>
        <input type="text" placeholder="Enter Order" name='order'>
        <input type="submit" value="Create Order">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>