<%- include("partials/header") %>
<body>
    <h1>Orders</h1>
    <ul>
    <% orders.forEach( el => { %>
            <li class='order' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.order.toUpperCase() %> for <%= el.customerName %></span>

                <span class='<%= el.completed === true ? '' : 'hidden'%>'> Order completed by: <%= el.completedBy %></span>

                <form action="/orders/deleteOrder/<%= el._id %>?_method=DELETE" method="POST" class="">
                    <button class="del" type="submit">Delete</button>
                </form>

            </li>
    <% }) %>    
    </ul>
    
    <h2><%= left === 1 ? `${left} order left to make.` : `${left} orders left to make.` %></h2>

    <form action="/orders/createOrder" method='POST'>
        <input type="text" name="order" placeholder="Enter Order">
        <input type="text" name="customer" placeholder="Customer Name">
        <input type="submit" value="Create Order">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>